// Variables

$gray: #f2f2f2;
$blue: #3a7fc2;
$black: #222d32;
$black-dark: #000;
$white: #fff;
$input: #f1f1f1;
$active: #0d1214;
$danger: #e53935;
$green: #43a047;
$orange: #fb8c00;

$publicBlack: #222;
// $publicYellow: #f4ac00;
$publicYellow: #fced02;
$publicBorderYellow: #f6bd33;
$publicGray: #dcdcdc;
$publicBlue: #050e35;
$publicWhatsapp: #0cd028;
$publicBlueGray: #172768;
$publicGallery: #455286;

$font-family: "Roboto";
$font-family-bold: "Roboto Bold";
