// Button

.btn-primary {
  border-radius: 3px;
  color: #fff !important;
  min-width: 120px;
  outline: 0px !important;
  border: 0;
  box-shadow: none !important;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-blue {
  background-color: $blue !important;
}

.btn-block {
  width: 100%;
}

.btn-outline {
  background-color: transparent !important;
  min-width: auto !important;
  border-radius: 6px !important;
  color: $publicBlueGray !important;
  padding: 0.5rem 2rem !important;
}

.btn-outline {
  border: 1px solid $publicBlueGray !important;
  text-transform: uppercase;
}

.btn-red {
  background-color: $danger !important;
}

.btn-green {
  background-color: $green !important;
}

.btn-orange {
  background-color: $orange !important;
}

.btn-font-white {
  border: 1px solid white !important;
  color: white !important;
  font-weight: 600;
  font-size: 14px;
}

.btn-small {
  padding: 5px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-size: 12px !important;
  min-width: 30px !important;
}

.btn-yellow {
  background-color: $publicYellow;
  color: $black;
  font-size: 1.2em;
}

.btn-price {
  border-radius: 0;
  padding: 0 0.75rem;
  cursor: none;
}

.btn-price-slider {
  border-radius: 0;
  font-size: 0.8em;
  padding: 0 0.75rem;
  cursor: none;
}

.btn-more {
  border: 1px solid $publicBorderYellow;
  background-color: $publicBlueGray;
  color: $white;
  opacity: 0.9;
}

.btn-more:hover {
  color: $white;
}

.btn-align-bottom {
  @media (min-width: 768px) {
    margin-top: 32.5px;
  }
  margin-bottom: 15px;
}
