// Card

.card {
  border: 0px;
  border-radius: 10px;
  box-shadow: none;
}

.card {
  border-radius: 0;
  &-custom {
    &-header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &-title {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    &-body {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
