// Form

.card {
  &-custom {
    input {
      color: $black-dark !important;
    }

    .form-control {
      border: 1px solid $black-dark !important;
      background-color: $white !important;
      border-radius: 0 !important;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }

    .form-control::placeholder {
      color: $black-dark;
      opacity: 0.9;
    }
  }
}
