.owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #172768;
}

.thumbs {
  .owl-dots {
    float: right;
    display: block;
  }
}
